body {
	color: #666;
	background-color: #f9f8f6;
	background-image: url(../img/dark-wood.jpg);
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
	font-size: 1.2em;

}
div {
	
}

h2, h3 {
	font-family: Georgia, Times, serif;
	line-height: .75em;
	font-size: 1.5em;
}

h3 {
	color: #de6581;
	font-size: 1.5em;
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
}

.wrapper {
	width: 940px;
	margin: -30px auto -30px auto;
	border: 2px solid #000;
	background-color: #fff;
}

header {
	background-image: url(../img/header.jpg);
	margin-top: -20px;
	
}

.navbar {
	margin-top: 80px;
	background-color: grey;
}

.navigation {
	margin-top: 15px;
}

.navigation a {
	font-family: Georgia, Times, serif;
	font-size: 1.3em;
	padding: 10px 30px 0px 10px;
	margin-top: 10px;
}

a {
	color: white;
	font-size: 1.5em;
}

.active {
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

h1 {
	text-indent: -9999px;
}

.image {
	float: left;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid #eee;
}

.text {
	float: right;
	padding-left: 10px;
	width: 50%;

}

.text h2 {
	font-size: 1.8em;
}

.courses, .sauces {
	width: 70%;
	padding: 5px 10px 30px 10px;
	margin: 5px 5px;
	position: relative;
	
}

.sauces {
	margin-top: 40px;
}


.sidebar {
	width: 30%;
	float: right;
	margin-left: 5px;
	margin-bottom: 70px;
	padding-left: 20px;
	padding-top: 25px;
	margin-top: -100px;
	position: relative;
	bottom: 405px;
	color: #de6581;
	font-size: 1.25em;
	line-height: 2.5em;
	border-left: 1px solid #eee;
	

}

.sidebar h2 {
	padding-bottom: 10px;
}

.recipes a {
	color: #de6581;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #eee;
	font-size: 1.2em;
}

.contact {
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact p {
 	font-size: 1em;
 	color: #666;
 	line-height: 1.5em;
}

.footer {
	background: grey;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #fff;

}